{% extends 'server/index.html' %}
{% block title %}Целевое сканирования{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="page-title-alt-bg"></div>
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Режимы сканирования</a></li>
                    <li class="breadcrumb-item active">Целевое</li>
                </ol>
            </div>
            <h4 class="page-title">Главное меню</h4>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-4">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                            aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Download</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Upload</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                    <h4 class="header-title mb-3">Ввести задачу</h4>
                    <form class="form-horizontal" method="post" id="post-form">
                        {% csrf_token %}
                        <div id="result">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Ip address</label>
                                <div class="col-sm-9">
                                    {{ form.ip }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-3 col-form-label">Port</label>
                                <div class="col-sm-9">
                                    {{ form.port }}
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-sm-3 col-form-label">Mode</label>
                                <div class="col-sm-9">
                                    {{ form.mode }}
                                </div>
                            </div>
                        </div>
                        <div class="checkbox checkbox-info form-check-inline">
                            {{ form.cve_report }}
                            <label>Отчет о CVE</label>
                        </div>
                          <div class="form-check-inline">
                            <button
                              type="submit"
                              class="btn btn-success waves-effect waves-light"
                            >
                              Создать задачу
                            </button>
                        </div>
                    </form>
                </div><!-- end card-box-->
                <div class="card-box">
                    <h4 class="header-title">Гистограмма</h4>
                    <canvas id="barChart" width="400" height="167"></canvas>

                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                        var ctx = document.getElementById("barChart").getContext("2d");
                
                        // Инициализируем начальные данные для графика
                        var initialData = {
                            labels: ["Клиент 1", "Клиент 2"],
                            datasets: [{
                                label: "Задачи",
                                data: [],
                                backgroundColor: ["#00CED1", "#00CED1"],
                            }],
                        };
                
                        var barChart = new Chart(ctx, {
                            type: "bar",
                            data: initialData,
                        });
                
                        // Создаем WebSocket соединение
                        var socket2 = new WebSocket('ws://' + window.location.host + '/ws/my_socket_2/');  // Замените URL на ваш сервер и путь WebSocket
                
                        socket2.onopen = function () {
                            console.log('Соединение WebSocket установлено.');
                            socket2.send(JSON.stringify({ 'type': 'get_cl_data' }));
                        };
                
                        socket2.onmessage = function (e) {
                            var newData = JSON.parse(e.data);
                            console.log(newData.data.client_2)
                            // Обновляем данные в графике
                            barChart.data.datasets[0].data = [newData.data.client_1, newData.data.client_2];
                            barChart.update();
                        };
                
                        socket2.onclose = function () {
                            console.log('Соединение WebSocket закрыто.');
                        };
                    });
                    </script> 
                </div> <!-- end card-box -->
            </div> <!-- end col -->
            <div class="col-xl-4">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                            aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Download</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Upload</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                    <h4 class="header-title mt-1 mb-3">Статистика состояния портов</h4>
                    <div class="mb-2">
                        <canvas id="chartId" height="470"></canvas>
                        <script>
                            // Создаем WebSocket соединение
                            var socket = new WebSocket('ws://' + window.location.host + '/ws/my_socket/');
                                                            // Обработчик события открытия WebSocket соединения
                            socket.onopen = function () {
                            console.log('Соединение установлено.');
                            socket.send(JSON.stringify({ 'type': 'get_initial_data' }));
                            };
                            socket.onmessage = function (e) {
                                console.log('Cчитывание установлено.');
                            var value = JSON.parse(e.data);
                            console.log(value)
                            updateChart(value);
                        };
        socket.onclose = function () {
            console.log('Соединение закрыто.');
        };
        
        var chart;

        function updateChart(value) {
        if (chart) {
            chart.destroy(); // Уничтожаем существующий объект Chart, если он существует
        }

        var chrt = document.getElementById("chartId").getContext("2d");
        chart = new Chart(chrt, {
            type: "doughnut",
            data: {
                labels: ["Open", "Filtered", "Closed", "Open|Filtered"],
                datasets: [{
                    data: [],  // Начальный пустой массив данных
                    backgroundColor: ['#33ce7a', '#ffc107', '#dc3545', '#00CED1'],
                    hoverOffset: 3
                }],
            },
            options: { responsive: true, cutout: "60%", radius: "90%", weight: 100 },
        });
setTimeout(1)
chart.data.datasets[0].data = [value.data.open, value.data.filtered, value.data.close, value.data.open_filtered];
chart.update();
};

                        </script>
                        
                    </div>
                </div> <!-- end card-box-->
            </div> <!-- end col -->
        <div class="col-xl-4">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                        aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Download</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Upload</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                    </div>
                </div>
                <h4 class="header-title mb-3">Таблица Задач</h4>
                <script>
                    var socket3 = new WebSocket('ws://' + window.location.host + '/ws/my_socket_table/');
                    
                    socket3.onmessage = function(e) {
                    var newData = JSON.parse(e.data);
                    var recordId = newData.id;
                    var tagCell = document.getElementById('tag-' + recordId);
                    var clientCell = document.getElementById('client-' + recordId); // Найдем ячейку для параметра 'client'
                    console.log(newData);
                    if (tagCell) {
                      tagCell.innerText = newData.tag;
                    }
                    if (clientCell) {
                      clientCell.innerText = newData.client; // Обновим текст в ячейке 'client' с новым значением
                    }
                };
                    
                
                    socket3.onopen = function() {
                        console.log('WebSocket connected');
                    };
                
                    socket3.onclose = function() {
                        console.log('WebSocket closed');
                    };
                </script>
                <table class="table table-bordered dt-responsive nowrap" id = 'datatables'>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>ip</th>
                            <th>port</th>
                            <th>mode</th>
                            <th>client_scan</th>
                            <th>tag</th>
                            <th>CVE</th>
                            <th>delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data_serv %}
                        <tr id="row-{{ i.pk }}"> 
                            <th>{{forloop.counter}}</th>
                            <th>{{i.ip}}</th>
                            <th>{{i.port}}</th>
                            <th>{{i.mode}}</th>
                            <th id="client-{{ i.pk }}">{{ i.client }}</th>
                            <th id="tag-{{ i.pk }}">{{ i.tag }}</th>
                            <th>{{i.cve_report}}</th>
                            <th><a href="{% url 'delete' i.pk %}" class="btn btn-danger mx-auto">Удалить</a></th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div> <!-- end card-box-->
                <div class="card-box widget-chart-one gradient-success bx-shadow-lg">
                    <div class="float-left" dir="ltr">
                        <script>
                        var socket4 = new WebSocket('ws://' + window.location.host + '/ws/my_socket_task/');
                    
                        socket4.onmessage = function (e) {
                        var data = JSON.parse(e.data);
                        console.log(data)

                        var taskKnob = document.getElementById('task_done');
                        if (taskKnob) {
                            taskKnob.value = data.task;
                        }
                    };
                
                    socket4.onopen = function() {
                        console.log('WebSocket task connected');
                    };
                
                    socket4.onclose = function() {
                        console.log('WebSocket closed');
                    };

                        </script>
                        <input data-plugin="knob" data-width="80" data-height="80" data-linecap=round
                                data-fgColor="#ffffff" data-bgcolor="rgba(255,255,255,0.2)" data-max="{% for i in data_serv %}{% if forloop.last %}{{ forloop.counter }}{% endif %}{% endfor %}" 
                                value="{{ task_done|safe  }}" 
                                data-skin="tron" data-angleOffset="180"
                                data-readOnly=true data-thickness=".2" id='task_done'/>
                    </div>
                    <div class="widget-chart-one-content text-right">
                        <p class="text-white mb-0">Выполнено задач из</p>
                        <h3 class="text-white">{% for i in data_serv %}{% if forloop.last %}{{ forloop.counter }}{% endif %}{% endfor %}</h3>
                    </div>
                </div> <!-- end card-box-->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card-box">
                  <div class="dropdown float-right">
                    <a
                      href="#"
                      class="dropdown-toggle arrow-none card-drop"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="mdi mdi-dots-horizontal"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <!-- item-->
                      <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                      <!-- item-->
                      <a href="javascript:void(0);" class="dropdown-item">Download</a>
                      <!-- item-->
                      <a href="javascript:void(0);" class="dropdown-item">Upload</a>
                      <!-- item-->
                      <a href="javascript:void(0);" class="dropdown-item">Action</a>
                    </div>
                  </div>
                  <h4 class="header-title mb-3">Таблица Адресов</h4>
                  <table class="table table-bordered" id="selection-datatable">
                    <thead>
                        <th>id</th>
                        <th>Хост</th>
                        <th>Режим</th>
                        <th>Состояние хоста</th>
                        {% if result.mode == 'OS'%}
 
                        {% else %}
                        <th>{{"Открытые порты"}}</th>
                        {% endif %}
                      </thead>
                    <tbody>
                      {% for i in section %}
                      <tr>
                        <th>{{forloop.counter}}</th>
                        <th>{{i.host}}</th>
                        <th>{{i.result.mode}}</th>
                        <th>{{i.state_scan}}</th>
                        {% if i.result.mode == 'OS'%}
                        <th><button type="button" class="btn btn-outline-info waves-effect waves-light width-md" data-toggle="modal" data-target="#myModal{{ i.id }}">
                            Информация об ОС
                          </button></th>
                          
                          <!-- Модальное окно -->
                          <div class="modal fade" id="myModal{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="myModalLabel"> Информация об ОС {{i.host}}</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body" style="font-size: 16px;">
                                  <!-- Содержимое модального окна -->
                                Полное имя ОС: {{i.full_name}}<br>
                                Вендор: {{i.vendor}}<br>
                                Семейство: {{i.osfamily}}<br>
                                Версия: {{i.osgen}}<br>
                                Точность сканирования: {{i.accuracy}}
                                </div>
                        {% else %}
                            <th><a class="btn btn-outline-info waves-effect waves-light width-md"
                              href="{% url 'port_info_aim' pk=i.pk %}"> Информация о портах</a></th>
                        {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                </div>
                </div>
              </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}