{% extends 'server/index.html' %} {% block title %} Инфорамция о портах
{%endblock %} {% block content %}
<div class="wrapper">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="page-title-alt-bg"></div>
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Режимы сканирования</a>
          </li>
          <li class="breadcrumb-item active">Сегментированное</li>
          <li class="breadcrumb-item active">Результаты сканирования</li>
          <li class="breadcrumb-item active">
            Информация о CVE
          </li>
        </ol>
      </div>
      <h4 class="page-title">Информация о CVE</h4>
    </div>
    <!-- end page title -->
    <h2>CVE порта: {{item.port}}</h2>
    <div class="row">
      <div class="col-xl-12">
        <div class="card-box">
          <div class="dropdown float-right">
            <a
              href="#"
              class="dropdown-toggle arrow-none card-drop"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="mdi mdi-dots-horizontal"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Settings</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Download</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Upload</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
          </div>
          <h4 class="header-title mb-3">Информация CVE</h4>
          <pre style="
          white-space: pre-wrap;     
          text-align: justify;
          font-family: Barlow,sans-serif;
          font-size: .9rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ced4da;">
          {% for i in cve_dict %}
            {{i.cve_information}}
          {% endfor %}
        </pre>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
