{% extends 'server/index.html' %}
{% block title %}Главное меню{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="page-title-alt-bg"></div>
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Главное меню</a>
            </li>
          </ol>
        </div>
        <h4 class="page-title">Главное меню</h4>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                <h4>Автоматизированная система распределенного анализа защищенности информационной сети (АСРАЗИС) "Shark"</h4> предназначена для поиска уязвимостей в различных ифнормационных системах.
            </div>
        </div>
    </div>     
    </div>
</div>
{% endblock %}