{% extends 'server/base.html' %}
{% load static %}
{% block title %} ДОМ {% endblock %}

{% block content %}

    <form method="post" class="container">
        {% csrf_token %}
        {{ form.ip }}<br>
        {{ form.port }}<br>
        <span>{{ error }}</span>
        <button type="submit" class="btn btn-success mx-auto d-block">Ввести</button><br>
    </form>


    <table class="table table-striped text-center">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Состояние Сети</th>
            <th>Протокол</th>
            <th>Открытые порты</th>
            <th>Состояние портов</th>
            <th>ОС</th>
            <th>Вендор</th>
            <th>Версия</th>
        </tr>
        </thead>
        {% for i in section %}
        <tr>
            <th>{{i.id}}</th>
            <th>{{i.ip_status}}</th>
            <th>{{i.protocols}}</th>
            <th>{{i.open_ports}}</th>
            <th>{{i.state}}</th>
            <th>{{i.vendor}}</th>
            <th>{{i.os_family}}</th>
            <th>{{i.osgen}}</th>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}