{% extends 'server/base.html' %}
{% block title %} ДОМ {% endblock %}
{% block js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    setTimeout('location.reload()', 5000)
  </script>
</script>
{% endblock %}

{% block content %}

    <table class="table table-striped text-center mx-auto">
    <thead class="table-dark">
        <tr>
            <th>Состояние Сети</th>
            <th>Протокол</th>
            <th>Открытые порты</th>
            <th>Состояние портов</th>

        </tr>
        </thead>
        {% for i in section %}
        <tr>
            <th>{{i.ip_status}}</th>
            <th>{{i.protocols}}</th>
            <th>{{i.open_ports}}</th>
            <th>{{i.state}}</th>
            <th>{{i.vendor}}</th>
            <th>{{i.os_family}}</th>
            <th>{{i.osgen}}</th>
        </tr>
        {% endfor %}
    </table>
        </table>
</tbody>
    {% endblock %}
    