{% extends 'server/index.html' %} {% block title %} Результат
сканирования{%endblock %} {% block content %}
<div class="wrapper">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="page-title-alt-bg"></div>
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Режимы сканирования</a>
          </li>
          <li class="breadcrumb-item active">Сегментированное</li>
          <li class="breadcrumb-item active">Результаты сканирования</li>
        </ol>
      </div>
      <h4 class="page-title">Результаты сканирования</h4>
    </div>
    <!-- end page title -->
    <h2>Детали элемента: {{item.ip}}/{{item.mask}}</h2>
    <div class="row">
      <div class="col-xl-4">
        <div class="card-box">
          <div class="dropdown float-right">
            <a
              href="#"
              class="dropdown-toggle arrow-none card-drop"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="mdi mdi-dots-horizontal"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Settings</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Download</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Upload</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
          </div>
          <h4 class="header-title mb-3">График</h4>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card-box">
          <div class="dropdown float-right">
            <a
              href="#"
              class="dropdown-toggle arrow-none card-drop"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="mdi mdi-dots-horizontal"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Settings</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Download</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Upload</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
          </div>
          <h4 class="header-title mb-3">График</h4>

            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card-box">
          <div class="dropdown float-right">
            <a
              href="#"
              class="dropdown-toggle arrow-none card-drop"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="mdi mdi-dots-horizontal"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Settings</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Download</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Upload</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
          </div>
          <h4 class="header-title mb-3">Таблица Адресов</h4>
          <table class="table table-bordered" id="datatables">
            <thead>
              <tr>
                <th>id</th>
                <th>ip</th>
                <th>Клиенты</th>
                <th>Состояние</th>
              </tr>
            </thead>
            <tbody>
              {% for i in all_ip %}
              <tr>
                <th>{{forloop.counter}}</th>
                <th>{{i.address}}</th>
                <th>{{i.client}}</th>
                <th>{{i.tag}}</th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- end card-box-->
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="card-box">
          <div class="dropdown float-right">
            <a
              href="#"
              class="dropdown-toggle arrow-none card-drop"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="mdi mdi-dots-horizontal"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Settings</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Download</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Upload</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
          </div>
          <h4 class="header-title mb-3">Таблица Адресов</h4>
          <table class="table table-bordered" id="selection-datatable">
            <thead>
                <th>id</th>
                <th>Хост</th>
                <th>Состояние хоста</th>
                {% if result.state_ports %}
                <th>{{"Открытые порты"}}</th>
                {% else %}
                <th>Полное имя ОС</th>
                <th>Вендор</th>
                <th>Семейство</th>
                <th>Версия</th>
                <th>Точность сканирования</th>
                {% endif %}
            </thead>
            <tbody>
              {% for i in result %}
              <tr>
                <th>{{forloop.counter}}</th>
                <th>{{i.host}}</th>
                <th>{{i.state_scan}}</th>
                {% if i.state_ports %}
                  {% if i.state_ports == 'down' %}
                    <th>{{ "Порты закрыты" }}</th>
                  {% else %}
                    <th><a class="btn btn-outline-info waves-effect waves-light width-md"
                      href="{% url 'port_information' pk=i.pk %}"> Информация о портах</a></th>
                  {% endif %}
                {% else %}
                  <th>{{i.full_name}}</th>
                  <th>{{i.vendor}}</th>
                  <th>{{i.osfamily}}</th>
                  <th>{{i.osgen}}</th>
                  <th>{{i.accuracy}}</th>
                {% endif %}
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
