{% extends 'server/index.html' %} {% block title %} Результат
сканирования{%endblock %} {% block content %}
<div class="wrapper">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="page-title-alt-bg"></div>
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Режимы сканирования</a>
          </li>
          <li class="breadcrumb-item active">Сегментированное</li>
          <li class="breadcrumb-item active">Результаты сканирования</li>
        </ol>
      </div>
      <h4 class="page-title">Результаты сканирования</h4>
    </div>
    <!-- end page title -->
    <h2>Детали элемента: {{item.ip}}/{{item.mask}} </h2>
    <h2>Режим сканирования: {{item.mode}} </h2>
    <div class="row">
      <div class="col-xl-4">
        <div class="card-box">
          <h4 class="header-title mb-3">График</h4>
          <canvas id="barChart" width="400" height="185"></canvas>

          <script>
              document.addEventListener('DOMContentLoaded', function () {
              var ctx = document.getElementById("barChart").getContext("2d");
      
              // Инициализируем начальные данные для графика
              var initialData = {
                  labels: ["Клиент 1", "Клиент 2", "Клиент 3"],
                  datasets: [{
                      label: "Задачи",
                      data: [{{client_1}}, {{client_2}}, {{client_3}}],
                      backgroundColor: ["#00CED1", "#00CED1", "#00CED1"],
                  }],
              };
      
              var barChart = new Chart(ctx, {
                  type: "bar",
                  data: initialData,
              });
      
              // Создаем WebSocket соединение
              var socket_cl_seg = new WebSocket('ws://' + window.location.host + '/ws/my_socket_client_seg/');  // Замените URL на ваш сервер и путь WebSocket
      
      
              socket_cl_seg.onmessage = function (e) {
                  var newData = JSON.parse(e.data);
                  // Обновляем данные в графике
                  barChart.data.datasets[0].data = [newData.data.client_1, newData.data.client_2, newData.data.client_3];
                  barChart.update();
              };
      
              socket_cl_seg.onclose = function () {
                  console.log('Соединение WebSocket закрыто.');
              };
          });
          </script>  
        </div>
          <div class="card-box widget-chart-one gradient-success bx-shadow-lg">
            <div class="float-left" dir="ltr">
                <script>
                var seg_consum = new WebSocket('ws://' + window.location.host + '/ws/table_seg_count/');
            
                seg_consum.onmessage = function (e) {
                var data = JSON.parse(e.data);
                console.log(data)

                var taskKnob = document.getElementById('task_done');
                if (taskKnob) {
                    taskKnob.value = data.task;
                }
            };
        
            seg_consum.onopen = function() {
                console.log('WebSocket task connected');
            };
        
            seg_consum.onclose = function() {
                console.log('WebSocket closed');
            };

                </script>
                <input data-plugin="knob" data-width="80" data-height="80" data-linecap=round
                        data-fgColor="#ffffff" data-bgcolor="rgba(255,255,255,0.2)" data-max="{% for i in all_ip %}{% if forloop.last %}{{ forloop.counter }}{% endif %}{% endfor %}" 
                        value="{{ task_done }}" 
                        data-skin="tron" data-angleOffset="180"
                        data-readOnly=true data-thickness=".2" id='task_done'/>
            </div>
            <div class="widget-chart-one-content text-right">
                <p class="text-white mb-0">Выполнено задач из</p>
                <h3 class="text-white">{% for i in all_ip %}{% if forloop.last %}{{ forloop.counter }}{% endif %}{% endfor %}</h3>
            </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card-box">
          <h4 class="header-title mb-3">График</h4>
          <canvas id="myLineChart" height="228"></canvas>
          <script>



            // Получаем контекст canvas
            var ctx = document.getElementById('myLineChart').getContext('2d');
        
            var socket_cve = new WebSocket('ws://' + window.location.host + '/ws/cve_year/'); // Замените URL на ваш сервер и путь WebSocket
        
            var myLineChart;
            {% if cve_year %}
            timeLabels = [];
                dataValues1 = [];
                dataValues2 = [];
                dataValues3 = [];
                dataValues4 = [];
        
                // Заполняем массивы данными из пришедшего сообщения

              
                for (var year in {{ cve_year|safe }}) {
                  timeLabels.push(year);
                  dataValues1.push({{ cve_year|safe }}[year]['Критичная']);
                  dataValues2.push({{ cve_year|safe }}[year]['Высокая']);
                  dataValues3.push({{ cve_year|safe }}[year]['Средняя']);
                  dataValues4.push({{ cve_year|safe }}[year]['Низкая']);
                }
        
                if (myLineChart) {

                  myLineChart.destroy();

                  myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: timeLabels,
                        datasets: [
                            {
                                label: 'Критичная',
                                data: [],
                                backgroundColor: "hsl(283, 90%, 55%)",
                                borderColor: 'hsl(283, 90%, 55%)',
                                borderWidth: 2,
                                fill: false,
                            },
                            {
                                label: 'Высокая',
                                data: [],
                                backgroundColor: "hsl(0, 86%, 65%)",
                                borderColor: 'hsl(0, 86%, 65%)',
                                borderWidth: 2,
                                fill: false,
                            },
                            {
                                label: 'Средняя',
                                data: [],
                                backgroundColor: "hsl(39, 90%, 55%)",
                                borderColor: 'hsl(39, 90%, 55%)',
                                borderWidth: 2,
                                fill: false,
                            },
                            {
                                label: 'Низкая',
                                data: [],
                                backgroundColor: "#33ce7a",
                                borderColor: '#33ce7a',
                                borderWidth: 2,
                                fill: false,
                            }
                        ]
                    },
                });

                  
                  myLineChart.data.labels = timeLabels;
                  myLineChart.data.datasets[0].data = dataValues1;
                  myLineChart.data.datasets[1].data = dataValues2;
                  myLineChart.data.datasets[2].data = dataValues3;
                  myLineChart.data.datasets[3].data = dataValues4;
      
                  myLineChart.update();
              } else {
        
            // Создаем объект графика
            myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: timeLabels,
                    datasets: [
                        {
                            label: 'Критичная',
                            data: [],
                            backgroundColor: "hsl(283, 90%, 55%)",
                            borderColor: 'hsl(283, 90%, 55%)',
                            borderWidth: 2,
                            fill: false,
                        },
                        {
                            label: 'Высокая',
                            data: [],
                            backgroundColor: "hsl(0, 86%, 65%)",
                            borderColor: 'hsl(0, 86%, 65%)',
                            borderWidth: 2,
                            fill: false,
                        },
                        {
                            label: 'Средняя',
                            data: [],
                            backgroundColor: "hsl(39, 90%, 55%)",
                            borderColor: 'hsl(39, 90%, 55%)',
                            borderWidth: 2,
                            fill: false,
                        },
                        {
                            label: 'Низкая',
                            data: [],
                            backgroundColor: "#33ce7a",
                            borderColor: '#33ce7a',
                            borderWidth: 2,
                            fill: false,
                        }
                    ]
                },
            });
            myLineChart.data.labels = timeLabels;
            myLineChart.data.datasets[0].data = dataValues1;
            myLineChart.data.datasets[1].data = dataValues2;
            myLineChart.data.datasets[2].data = dataValues3;
            myLineChart.data.datasets[3].data = dataValues4;
            myLineChart.update();
          }
          {% endif %}

            socket_cve.onmessage = function (e) {
                var nData = JSON.parse(e.data);
                var newData = nData.data
                console.log(newData)
                // Очищаем массивы
                timeLabels = [];
                dataValues1 = [];
                dataValues2 = [];
                dataValues3 = [];
                dataValues4 = [];
        
                // Заполняем массивы данными из пришедшего сообщения

              
                for (var year in newData) {
                  timeLabels.push(year);
                  dataValues1.push(newData[year]['Критичная']);
                  dataValues2.push(newData[year]['Высокая']);
                  dataValues3.push(newData[year]['Средняя']);
                  dataValues4.push(newData[year]['Низкая']);
                }
        
                if (myLineChart) {

                  myLineChart.destroy();

                  myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: timeLabels,
                        datasets: [
                            {
                                label: 'Критичная',
                                data: [],
                                backgroundColor: "hsl(283, 90%, 55%)",
                                borderColor: 'hsl(283, 90%, 55%)',
                                borderWidth: 2,
                                fill: false,
                            },
                            {
                                label: 'Высокая',
                                data: [],
                                backgroundColor: "hsl(0, 86%, 65%)",
                                borderColor: 'hsl(0, 86%, 65%)',
                                borderWidth: 2,
                                fill: false,
                            },
                            {
                                label: 'Средняя',
                                data: [],
                                backgroundColor: "hsl(39, 90%, 55%)",
                                borderColor: 'hsl(39, 90%, 55%)',
                                borderWidth: 2,
                                fill: false,
                            },
                            {
                                label: 'Низкая',
                                data: [],
                                backgroundColor: "#33ce7a",
                                borderColor: '#33ce7a',
                                borderWidth: 2,
                                fill: false,
                            }
                        ]
                    },
                });

                  
                  myLineChart.data.labels = timeLabels;
                  myLineChart.data.datasets[0].data = dataValues1;
                  myLineChart.data.datasets[1].data = dataValues2;
                  myLineChart.data.datasets[2].data = dataValues3;
                  myLineChart.data.datasets[3].data = dataValues4;
      
                  myLineChart.update();
              } else {
        
            // Создаем объект графика
            myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: timeLabels,
                    datasets: [
                        {
                            label: 'Критичная',
                            data: [],
                            backgroundColor: "hsl(283, 90%, 55%)",
                            borderColor: 'hsl(283, 90%, 55%)',
                            borderWidth: 2,
                            fill: false,
                        },
                        {
                            label: 'Высокая',
                            data: [],
                            backgroundColor: "hsl(0, 86%, 65%)",
                            borderColor: 'hsl(0, 86%, 65%)',
                            borderWidth: 2,
                            fill: false,
                        },
                        {
                            label: 'Средняя',
                            data: [],
                            backgroundColor: "hsl(39, 90%, 55%)",
                            borderColor: 'hsl(39, 90%, 55%)',
                            borderWidth: 2,
                            fill: false,
                        },
                        {
                            label: 'Низкая',
                            data: [],
                            backgroundColor: "#33ce7a",
                            borderColor: '#33ce7a',
                            borderWidth: 2,
                            fill: false,
                        }
                    ]
                },
            });
            myLineChart.data.labels = timeLabels;
            myLineChart.data.datasets[0].data = dataValues1;
            myLineChart.data.datasets[1].data = dataValues2;
            myLineChart.data.datasets[2].data = dataValues3;
            myLineChart.data.datasets[3].data = dataValues4;
            myLineChart.update();
          }
        };
          socket_cve.onclose = function () {
            console.log('Соединение WebSocket закрыто.');
        };
        </script>
        
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card-box">
          <h4 class="header-title mb-3">Таблица Адресов</h4>
          <script>
            var socket_ipadd = new WebSocket('ws://' + window.location.host + '/ws/table_seg_ipadd/');
            
            socket_ipadd.onmessage = function(e) {
            var newData = JSON.parse(e.data);
            var recordId = newData.id;
            var tagCell = document.getElementById('tag-' + recordId);
            var clientCell = document.getElementById('client-' + recordId); // Найдем ячейку для параметра 'client'
            console.log(newData);
            if (tagCell) {
              tagCell.innerText = newData.tag;
            }
            if (clientCell) {
              clientCell.innerText = newData.client; // Обновим текст в ячейке 'client' с новым значением
            }
        };
            
        
        socket_ipadd.onopen = function() {
                console.log('WebSocket connected');
            };
        
            socket_ipadd.onclose = function() {
                console.log('WebSocket closed');
            };
        </script>
          <table class="table table-bordered" id="datatables">
            <thead>
              <tr>
                <th>id</th>
                <th>ip</th>
                <th>Клиенты</th>
                <th>Состояние</th>
              </tr>
            </thead>
            <tbody>
              {% for i in all_ip %}
              <tr id="row-{{ i.pk }}">
                <th>{{forloop.counter}}</th>
                <th>{{i.address}}</th>
                <th id="client-{{ i.pk }}">{{ i.client }}</th>
                <th id="tag-{{ i.pk }}">{{ i.tag }}</th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- end card-box-->
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="card-box">
          <div class="dropdown float-right">
            <a
              href="#"
              class="dropdown-toggle arrow-none card-drop"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="mdi mdi-dots-horizontal"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Settings</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Download</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Upload</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
          </div>
          <h4 class="header-title mb-3">Таблица Адресов</h4>
          <table class="table table-bordered" id="selection-datatable">
            <thead>
                <th>id</th>
                <th>Хост</th>
                <th>Состояние хоста</th>
                {% if item.mode == 'OS'%}
                <th>Полное имя ОС</th>
                <th>Вендор</th>
                <th>Семейство</th>
                <th>Версия</th>
                <th>Точность сканирования</th>
                {% else %}
                <th>{{"Открытые порты"}}</th>
                {% endif %}
              </thead>
            <tbody>
              {% for i in result %}
              <tr>
                <th>{{forloop.counter}}</th>
                <th>{{i.host}}</th>
                <th>{{i.state_scan}}</th>
                {% if i.state_ports %}
                  {% if i.state_ports == 'down' %}
                    <th>{{ "Порты закрыты" }}</th>
                  {% else %}
                    <th><a class="btn btn-outline-info waves-effect waves-light width-md"
                      href="{% url 'port_information' pk=i.pk %}"> Информация о портах</a></th>
                  {% endif %}
                {% else %}
                  <th>{{i.full_name}}</th>
                  <th>{{i.vendor}}</th>
                  <th>{{i.osfamily}}</th>
                  <th>{{i.osgen}}</th>
                  <th>{{i.accuracy}}</th>
                {% endif %}
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
