{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Shark{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'server/images/favicon.ico' %}" />
    <!-- jvectormap -->
    <link
      href="{% static 'server/libs/jqvmap/jqvmap.min.css' %}"
      rel="stylesheet"
    />
    <!-- DataTables -->
    <link
      href="{% static 'server/libs/datatables/dataTables.bootstrap4.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'server/libs/datatables/responsive.bootstrap4.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'server/libs/datatables/buttons.bootstrap4.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'server/libs/datatables/select.bootstrap4.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'server/css/cve.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- App css -->
    <link
      href="{% static 'server/css/bootstrap.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'server/css/knob.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'server/libs/custombox/custombox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'server/css/icons.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'server/css/app.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <script src="{% static 'server/js/charss.js' %}"></script>
  </head>

  <body>
    <!-- Navigation Bar-->
    <header id="topnav">
      <!-- Topbar Start -->
      <div class="navbar-custom">
        <div class="container-fluid">
          <ul class="list-unstyled topnav-menu float-right mb-0">

            <li class="dropdown notification-list">
              <a
                class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light"
                data-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="false"
                aria-expanded="false"
              >
                <span class="pro-user-name ml-1">
                  Admin <i class="mdi mdi-chevron-down"></i>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                <!-- item-->
                  {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" class="dropdown-item notify-item dripicons-power">    Выйти</a>
                  {% endif %}
              </div>
            </li>
          </ul>

          <ul class="list-unstyled menu-left mb-0">
            <li class="float-left logo-box">
              <a href="{% url 'dashboard' %}" class="logo">
                <span class="logo-lg p-1">
                  <img
                    src="{% static 'server/images/logo-shark.png' %}"
                    alt=""
                    height="40"
                  />
                </span>
              </a>
            </li>

            <li class="app-search d-none d-md-block">
              <form action="#" method="get">
                <input
                  type="text"
                  placeholder="Поиск..."
                  class="form-control"
                />
                <button type="submit" class="sr-only">Поиск</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
      <!-- end Topbar -->

      <div class="topbar-menu">
        <div class="container-fluid">
          <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
              <li class="has-submenu">
                <a href="{% url 'dashboard' %}">
                  <i class="dripicons-meter"></i>Главное меню
                </a>
              </li>
              <li class="has-submenu">
                <a href="#">
                  <i class="dripicons-crosshair"></i>Режимы сканирования
                  <div class="arrow-down"></div
                ></a>
                <ul class="submenu">
                  <li>
                    <a href="{% url 'aim' %}">Целевое</a>
                  </li>
                  <li>
                    <a href="{% url 'segment' %}">Сегментированное</a>
                  </li>
                </ul>
              </li>
              <li class="has-submenu">
                <a href="#">
                  <i class="dripicons-mail"></i>Информация
                  <div class="arrow-down"></div
                ></a>
                <ul class="submenu">
                  <li>
                    <a href="{% url 'tcp' %}">TCP</a>
                  </li>
                  <li>
                    <a href="{% url 'udp' %}">UDP</a>
                  </li>
                  <li>
                    <a href="{% url 'os' %}">OS</a>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
          </div>
          <!-- end #navigation -->
        </div>
        <!-- end container -->
      </div>
      <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    {% block content %} {% endblock %}
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

    <!-- Footer Start -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center">2023 &copy; Shark</div>
        </div>
      </div>
    </footer>
    <!-- end Footer -->

    <!-- Vendor js -->
    <script src="{% static 'server/js/vendor.min.js' %}"></script>
    <!-- KNOB JS -->
    <script src="{% static 'server/libs/jquery-knob/jquery.knob.min.js' %}"></script>
    <!-- Jvector map -->
    <script src="{% static 'server/libs/jqvmap/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'server/libs/jqvmap/jquery.vmap.usa.js' %}"></script>

    
    <!-- Datatable js -->
    <script src="{% static 'server/libs/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'server/libs/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'server/libs/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'server/libs/datatables/responsive.bootstrap4.min.js' %}"></script>

    <!-- Datatables init -->
    <script src="{% static 'server/js/pages/datatables.init.js' %}"></script>

    <!-- Dashboard Init JS -->
    <script src="{% static 'server/js/pages/dashboardes.init.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
    <!-- App js -->
    <script src="{% static 'server/js/app.min.js' %}"></script>

  </body>
</html>
