{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Shark{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'server/images/favicon.ico' %}">
    <!-- jvectormap -->
    <link href="{% static 'server/libs/jqvmap/jqvmap.min.css' %}" rel="stylesheet" />
    <!-- DataTables -->
    <link href="{% static 'server/libs/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'server/libs/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'server/libs/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'server/libs/datatables/select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'server/css/cvve.css' %}" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="{% static 'server/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'server/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'server/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'server/js/charss.js' %}"></script>
</head>

<body>
    <!-- Navigation Bar-->
    <header id="topnav">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <div class="container-fluid">
                <ul class="list-unstyled topnav-menu float-right mb-0">

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"
                            role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="dripicons-bell noti-icon"></i>
                            <span class="badge badge-info noti-icon-badge">11</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="m-0">
                                    <span class="float-right">
                                        <a href="" class="text-dark">
                                            <small>Clear All</small>
                                        </a>
                                    </span>Notification
                                </h5>
                            </div>

                            <div class="slimscroll noti-scroll">
                            </div>


                        </div>
                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light"
                            data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="{% static 'server/images/users/avatar-4.jpg' %}" alt="user-image"
                                class="rounded-circle">
                            <span class="pro-user-name ml-1">
                                Vlad K <i class="mdi mdi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="dripicons-user"></i>
                                <span>My Account</span>
                            </a>


                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="dripicons-power"></i>
                                <span>Logout</span>
                            </a>

                        </div>
                    </li>
                </ul>

                <ul class="list-unstyled menu-left mb-0">
                    <li class="float-left logo-box">
                        <a href="/" class="logo">
                            <span class="logo-lg p-1">
                                <img src="{% static 'server/images/logo-shark.png' %}" alt="" height="40">
                            </span>
                            <span class="logo-sm">
                                <img src="{% static 'server/images/logo-sm.png' %}" alt="" height="24">
                            </span>
                        </a>
                    </li>

                    <li class="app-search d-none d-md-block">
                        <form>
                            <input type="text" placeholder="Search..." class="form-control">
                            <button type="submit" class="sr-only"></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end Topbar -->

        <div class="topbar-menu">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">

                        <li class="has-submenu">
                            <a href="index.html">
                                <i class="dripicons-meter"></i>Главное меню
                            </a>
                        </li>
                        <li class="has-submenu">
                            <a href="#">
                                <i class="dripicons-crosshair"></i>Режимы сканирования<div class="arrow-down"></div></a>
                            <ul class="submenu">
                                <li>
                                    <a href="{% url 'aim' %}">Целевое</a>
                                </li>
                                <li>
                                    <a href="{% url 'segment' %}">Сегментированное</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">
                                <i class="dripicons-mail"></i>Информация <div class="arrow-down"></div></a>
                            <ul class="submenu">
                                <li>
                                    <a href="email-inbox.html">SYN-ASK</a>
                                </li>
                                <li>
                                    <a href="email-read.html">UDP</a>
                                </li>
                                <li>
                                    <a href="email-compose.html">CS</a>
                                </li>
                                <li>
                                    <a href="email-compose.html">OS</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End navigation menu -->

                    <div class="clearfix"></div>
                </div>
                <!-- end #navigation -->
            </div>
            <!-- end container -->
        </div>
        <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    {% block content %}
    {% endblock %}
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    2023 &copy; Shark
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

    <!-- Vendor js -->
    <script src="{% static 'server/js/vendor.min.js' %}"></script>
    <!-- KNOB JS -->
    <script src="{% static 'server/libs/jquery-knob/jquery.knob.min.js' %}"></script>
    <!-- Jvector map -->
    <script src="{% static 'server/libs/jqvmap/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'server/libs/jqvmap/jquery.vmap.usa.js' %}"></script>

    <!-- Datatable js -->
    <script src="{% static 'server/libs/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'server/libs/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'server/libs/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'server/libs/datatables/responsive.bootstrap4.min.js' %}"></script>      

    <!-- Datatables init -->
    <script src="{% static 'server/js/pages/datatables.init.js' %}"></script>     
    
    <!-- Dashboard Init JS -->
    <script src="{% static 'server/js/pages/dashboardess.init.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
    <!-- App js -->
    <script src="{% static 'server/js/app.min.js' %}"></script>
</body>

</html>