{% extends 'server/base.html' %}
{% block title %} Задания {% endblock %}
{% block content %}
<form method="post" class="container" id="post-form">
    {% csrf_token %}
    <div id="result">
    {{ form.ip }}<br>
    {{ form.port }}<br> 
    {{ form.mode }}<br>
    <span>{{ error }}</span>
</div>
    <button type="submit" class="btn btn-success mx-auto d-block">Ввести</button><br>
</form>

<table class="table table-striped text-center">
        <thead class="table-dark">
        <tr>
            <th>id</th>
            <th>ip</th>
            <th>port</th>
            <th>mode</th>
            <th>client_scan</th>
            <th>tag</th>
            <th>delete</th>
        </tr>
        </thead>
        {% for i in data_serv %}
        <tr>
            <th>{{i.id}}</th>
            <th>{{i.ip}}</th>
            <th>{{i.port}}</th>
            <th>{{i.mode}}</th>
            <th>{{i.client}}</th>
            {% if i.tag == 'Processing' %}
            <script>
                setTimeout('location.reload()', 500)
              </script>
            {% endif%}
            <th>{{i.tag}}</th>
            <th><a href="{% url 'delete' i.pk %}" class="btn btn-danger mx-auto">Удалить</a></th>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}