{% extends 'server/index.html' %}
{% block title %}OS{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="page-title-alt-bg"></div>
      <div class="page-title-box">
        <div class="page-title-right">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Информация</a>
                </li>
                <li class="breadcrumb-item active">OS</li>
              </ol>
        </div>
        <h4 class="page-title">Описание режима OS</h4>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                
                <p>Режим сканирования OS в Nmap представляет собой сканирование обнаружения операционных систем (OS detection). Этот режим позволяет Nmap попытаться определить операционную систему (ОС) на целевом хосте, анализируя ответы на различные сетевые запросы.</p>


                <p><h4>1. Основные характеристики:</h4></p>

                <p>Проводит сканирование для определения операционной системы на целевом хосте.</p>

                <p><h4>2. Принцип работы:</h4></p>

                <p>Отправляет разнообразные сетевые запросы, такие как ICMP Echo Request, TCP SYN, TCP ACK, и UDP, на целевой хост.
                Анализирует ответы на эти запросы и использует различные характеристики, такие как TTL (Time-to-Live), флаги TCP и другие, для сопоставления с базой данных сигнатур операционных систем.</p>

                <p><h4>3. Преимущества:</h4></p>

                <p>Позволяет определить операционную систему на основе ответов на сетевые запросы.
                Может быть полезным для анализа сети и выявления различий в конфигурации ОС.</p>

                <p><h4>4. Недостатки:</h4></p>

                <p>Результаты могут быть неточными, так как некоторые хосты или сетевые устройства могут настроены так, чтобы скрывать свою операционную систему.
                Зависит от корректного ответа хоста на сетевые запросы, что может быть поддельным или измененным.
                Сканирование обнаружения операционных систем может быть полезным для администраторов сети при анализе конфигурации и безопасности сети. Однако, важно понимать, что результаты такого сканирования могут быть ограничены и зависят от ответов хоста на отправленные запросы.</p>

            </div>
        </div>
    </div>     
    </div>
</div>
{% endblock %}