{% extends 'server/index.html' %} {% block title %} Инфорамция о портах
{%endblock %} {% block content %}
<div class="wrapper">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="page-title-alt-bg"></div>
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Режимы сканирования</a>
          </li>
          <li class="breadcrumb-item active">Сегментированное</li>
          <li class="breadcrumb-item active">Результаты сканирования</li>
          <li class="breadcrumb-item active">Информация о портах</li>
        </ol>
      </div>
      <h4 class="page-title">Информация о портах</h4>
    </div>
    <!-- end page title -->
  </div>
</div>
{% endblock %}
