{% extends 'server/index.html' %} {% block title %} Инфорамция о портах
{%endblock %} {% block content %}
<div class="wrapper">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="page-title-alt-bg"></div>
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Режимы сканирования</a>
          </li>
          <li class="breadcrumb-item active">Сегментированное</li>
          <li class="breadcrumb-item active">Результаты сканирования</li>
          <li class="breadcrumb-item active">Информация о портах</li>
        </ol>
      </div>
      <h4 class="page-title">Информация о портах: {{item.host}}</h4>
    </div>
    <!-- end page title -->
    <div class="row">
      <div class="col-xl-7">
        <div class="card-box" dir="ltr">
          <h4 style="margin-top: 0px;">Статус уязвимостей</h4>
          <br>
          <div class="row">
            <div class="col-md-3 text-center">
              <input data-plugin="knob" data-width="150" data-height="150"
              data-displayPrevious=true data-fgColor="hsl(283, 90%, 55%)" data-bgColor="#3b4452" data-skin="tron"
              data-cursor=true value="{{critical}}" data-thickness=".4" data-angleOffset="-125"
              data-angleArc="250" data-max="{{count}}" readonly="readonly"/>

              
              <h4 class="text-muted mt-3">Критично</h4>
            </div>
            <div class="col-md-3 text-center">
              <input data-plugin="knob" data-width="150" data-height="150"
                data-displayPrevious=true data-fgColor="hsl(0, 86%, 65%)" data-bgColor="#3b4452" data-skin="tron"
                data-cursor=true value="{{high}}" data-thickness=".4" data-angleOffset="-125"
                data-angleArc="250" data-max="{{count}}" readonly="readonly"/>
              <h4 class="text-muted mt-3">Высокая</h4>
            </div>
            <div class="col-md-3 text-center">
              <input data-plugin="knob" data-width="150" data-height="150"
                data-displayPrevious=true data-fgColor="hsl(39, 90%, 55%)" data-bgColor="#3b4452" data-skin="tron"
                data-cursor=true value="{{medium}}" data-thickness=".4" data-angleOffset="-125"
                data-angleArc="250" data-max="{{count}}" readonly="readonly"/>
              <h4 class="text-muted mt-3">Средняя</h4>
            </div>
            <div class="col-md-3 text-center">
              <input data-plugin="knob" data-width="150" data-height="150"
                data-displayPrevious=true data-fgColor="#33ce7a" data-bgColor="#3b4452" data-skin="tron"
                data-cursor=true value="{{normal}}" data-thickness=".4" data-angleOffset="-125"
                data-angleArc="250" data-max="{{count}}" readonly="readonly"/>
              <h4 class="text-muted mt-3">Низкая</h4>
              <div class="mb-3"></div>
            </div>
          </div>
          <br>
        </div> <!-- end card-box -->
      </div>
      <div class="col-xl-5">
        <div class="card-box" dir="ltr">
          <h4 style="margin-top: 0px;">Наиболее опасные уязвимости</h4> 
          <table id='myTable' class="table table-bordered">
            <thead align="center">
              <tr>
                <th>Порт</th>
                <th>CVE</th>
                <th>Состояние</th>
              </tr>
            </thead>
            <tbody align="center">
              {% for i in level_dict %}
              {% if i.level == 'Критичная' or i.level == 'Высокая' %}
              <tr>
                <th style='font-size: 15px'>{{i.port}}</th>
                <th style='font-size: 15px'>{{i.cve}}</th>
                <th style='font-size: 15px'>{{i.level}}</th>
              </tr>
              {% endif %}
              {% endfor %}
              <!-- Добавьте больше данных, если необходимо -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="card-box">
          <div class="dropdown float-right">
            <a
              href="#"
              class="dropdown-toggle arrow-none card-drop"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="mdi mdi-dots-horizontal"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Settings</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Download</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Upload</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
          </div>
          <h4 class="header-title mb-3">Таблица портов</h4>
          <table class="table table-bordered">
            <thead align="center">
              <tr>
                <th>№</th>
                <th>port</th>
                <th>state</th>
                <th>reason</th>
                <th>service</th>
                <th>cve</th>
                <th>all_cve</th>
              </tr>
            </thead>
            <tbody align="center">
              {% for i in port_dict %}
              <tr>
                <th>{{forloop.counter}}</th>
                <th>{{i.port}}</th>
                <th>{{i.state}}</th>
                <th>{{i.reason}}</th>
                <th>{{i.service}}</th>
                <th class="your-element-class">
                  <div style="height: 100px; overflow: auto;">
                    <pre style="
                    font-family: Barlow,sans-serif;
                    color: #ced4da;
                    font-size: .9rem;">{% if i.one_cve %}{{i.one_cve}}{% else %}{{'[CVE NOT FOUND]'}}{% endif %}</pre>
                  </div>
                </th>
                <th>{% if i.one_cve %}<a class="btn btn-outline-success waves-effect waves-light width-md"
                  href="{% url 'cve_information_aim' pk=i.pk %}"> Подробнее о CVE</a>{% else %}{{'[CVE NOT FOUND]'}}{% endif %}</th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

