{% extends 'server/index.html' %}
{% block title %}TCP{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="page-title-alt-bg"></div>
      <div class="page-title-box">
        <div class="page-title-right">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Информация</a>
                </li>
                <li class="breadcrumb-item active">TCP</li>
              </ol>
        </div>
        <h4 class="page-title">Описание режима TCP</h4>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                
            Режим сканирования TCP в Nmap представляет собой полное сканирование TCP, которое использует три TCP-пакета (синхронизации, подтверждения и сброса) для установления состояния портов на целевом хосте. Этот режим сканирования представляет собой стандартный TCP-скан, который отправляет полные установочные пакеты для определения статуса портов.

            <p>Ниже представлены основные характеристики и особенности режима сканирования -sT:</p>

            <p><h4>1. Основные характеристики:</h4></p>

            <p>Отправляет полные установочные пакеты (SYN, ACK, RST) для каждого сканируемого порта.</p>
            Использует стандартные значения портов, которые требуется проверить.

            <p><h4>2. Принцип работы:</h4></p>

            <p>Отправляет TCP-пакет с установкой флага SYN. Если порт открыт, хост ответит SYN/ACK. Если порт закрыт, хост ответит RST.
            После получения ответа на пакет с установкой SYN, Nmap отправляет пакет с установкой флага RST для закрытия соединения.
            Выводит результаты, основанные на ответах от целевого хоста.</p>

            <p><h4>3. Преимущества:</h4></p>

            <p>Прост в использовании и может работать с большинством сетевых устройств и хостов.
            Эффективен для определения статуса открытых и закрытых портов.</p>

            <p><h4>4. Недостатки:</h4></p>

            <p>Медленнее по сравнению с более "легкими" методами сканирования, такими как SYN сканирование.
            Может быть легко обнаружено системами обнаружения вторжений (IDS), так как включает в себя полный обмен TCP-пакетами.
            Режим сканирования -sT полезен, когда требуется точное и надежное определение статуса портов, а скорость сканирования не является критическим фактором. Важно учитывать, что использование данного режима может быть заметно на сетевой активности и может привлечь внимание средств обнаружения вторжений.</p>

            </div>
        </div>
    </div>     
    </div>
</div>
{% endblock %}