{% extends 'server/index.html' %}
{% block title %}UDP{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="page-title-alt-bg"></div>
      <div class="page-title-box">
        <div class="page-title-right">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Информация</a>
                </li>
                <li class="breadcrumb-item active">UDP</li>
              </ol>
        </div>
        <h4 class="page-title">Описание режима UDP</h4>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                
                <p>Режим сканирования UDP в Nmap представляет собой сканирование UDP-портов на целевом хосте. UDP (User Datagram Protocol) является протоколом передачи данных на более низком уровне сетевого стека и отличается от TCP. Сканирование UDP-портов может быть более сложным по сравнению с TCP, так как UDP не обеспечивает установление соединения.</p>
                
                <p><h4>1. Основные характеристики:</h4></p>
                
                <p>Осуществляет сканирование UDP-портов на целевом хосте.
                Отправляет UDP-пакеты на определенные порты и ожидает ответов.</p>
                <p><h4>2. Принцип работы:</h4></p>
                
                <p>Для каждого указанного порта Nmap отправляет UDP-пакет на целевой хост.</p>
                Если порт открыт и хост принимает UDP-пакеты на этом порту, Nmap получит ответ.
                Если порт закрыт, хост может отправить ответ с установкой флага ICMP (например, "Port Unreachable").
                После отправки UDP-пакетов Nmap анализирует ответы и формирует отчет.
                <p><h4>3. Преимущества:</h4></p>

                    <p>Позволяет обнаружить UDP-порты, которые могут быть скрыты от TCP-сканирования.
                Полезен для обнаружения служб, использующих UDP-протокол.
                <p><h4>4. Недостатки:</h4></p>

                    <p>Сканирование UDP-портов требует больше времени и ресурсов, чем TCP-сканирование.
                Результаты могут быть менее надежными из-за особенностей UDP, таких как отсутствие механизма подтверждения получения данных.
                Сканирование UDP-портов полезно в тех случаях, когда нужно обнаружить службы, которые могут использовать UDP, такие как DNS, SNMP, DHCP, и другие. Однако, из-за особенностей UDP, результаты могут быть менее надежными, и сканирование может занять больше времени.</p>

            </div>
        </div>
    </div>     
    </div>
</div>
{% endblock %}